.exchanger__fieldset {
    border: none;
background-color: #0f162070;
}

.exchanger__legend {
    background-color: #132433;
    padding: 10px;
    color: white;
    box-shadow: -6px -6px 8px 1px rgba(0, 0, 0, 0.595);
    display: flex;
    align-items: center;
}

.exchanger__labelText {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin: 15px 5px;
    color: white;
}

.exchanger__field {
    border: 2px solid #bdbdbd;
    padding: 10px;
    max-width: 213px;
    width: 100%;
}

.exchanger__field--otherColor {
    background-color: #1e3547;
    color: white;
}

.exchanger__field:required {
    border-color: rgb(128, 128, 128);

}

.exchanger__image {
    width: 50px;
    margin-left: 10px;
}

.exchanger_bottomField {
    background-color: #132433;
    border-bottom: solid #acc6d5;
    display: flex;
}