.exchanger__fieldset {
    border: 5px rgb(128, 128, 128) solid;

}

.exchanger__legend {
    background-color: #2a6b3da8;
    padding: 10px;
    color: white;
    box-shadow: -6px -6px 8px 1px rgba(0, 0, 0, 0.595);
    display: flex;
    align-items: center;
}

.exchanger__labelText {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin: 15px 5px;
    color: #000000;
}

.exchanger__field {
    border: 2px solid #bdbdbd;
    padding: 10px;
    max-width: 213px;
    width: 100%;
}

.exchanger__field--otherColor {
    background-color: #2a6b3d1f;
}

.exchanger__field:required {
    border-color: rgb(128, 128, 128);

}

.exchanger__image {
    width: 50px;
    margin-left: 10px;
}

.exchanger__labelText--indent {
    margin-right: -65px;
}